@typeparam TItem
@using System.Reflection;

@if (Model is null) {
  <p>No model specified</p>
} else {
  <DraggableContainer Name="@Model.Name" ShowTitle="ShowTitle" DragEnabled="@isDraggable">
    @if (Model.Children is null || Model.Children.Count() == 0) {
      <p>No children added</p>
    } else {
      foreach (var child in Model.Children) {
        var childTypeInfo = child.GetType().GetTypeInfo();
        switch (childTypeInfo) {
          case var ti when ti.ImplementedInterfaces.Contains(typeof(IDragAndDropContainer)): {
              <DragAndDropAutoBuilder Model="(IDragAndDropContainer)child" TItem="TItem" />
              break;
            }
          case var ti when ti.ImplementedInterfaces.Contains(typeof(IDraggableElement)): {
              <DraggableItem Name="@child.Name" Item="((DraggableItemViewModel)child).Item" DragEnabled="((IDraggableElement)child).DragEnabled" ItemTemplate="ItemTemplate" />
              break;
            }
          case var ti when ti.IsGenericType: {
              <DraggableItem Name="@child.Name" Item="((DragAndDropItemViewModel)child).Item" DragEnabled="false" ItemTemplate="ItemTemplate" />
              break;
            }
          default: {
              <DragAndDropElement Name="@child.Name">
                @child
              </DragAndDropElement>
            
              break;
            }
        
        }
      }
    }
  </DraggableContainer>
}

@code {
  [Parameter] public IDragAndDropContainer Model { get; set; }
  [Parameter] public bool ShowTitle { get; set; }
  [Parameter] public RenderFragment<TItem> ItemTemplate { get; set; }
  bool isDraggable = false;

  protected override void OnParametersSet() {
    var typeInfo = Model.GetType().GetTypeInfo();
    if (typeInfo.ImplementedInterfaces.Contains(typeof(IDraggableElement))) {
      isDraggable = ((IDraggableElement)Model).DragEnabled;
    }
  }
}
