@typeparam TItem
@inherits DragAndDropItemBase<TItem>

<li class="draganddrop-item"
    draggable="true"
    data-value="@Model"
    @ondragstart="@((e) => HandleDragStart(e, Model))"
    @ondragend="HandleDragEnd"
    ondrop="event.preventDefault();">
  <div class="draganddrop-itemcontent"
       @ondrop="@((e) => HandleMove(e, Model.Name, Model.Parent.Children.IndexOf(Model)))"
       @ondrop:stopPropagation="true"
       @ondragover="(e) => HandleMove(e, Model.Name, Model.Parent.Children.IndexOf(Model))"
       @ondragover:stopPropagation="true"
       style="height:1em; overflow-y:visible;">
    @ItemTemplate(Model.Item)
  </div>
  <div class="draganddrop-dropafter"
       @ondrop="@((e) => HandleMove(e, Model.Name, Model.Parent.Children.IndexOf(Model) + 1))"
       @ondrop:stopPropagation="true"
       @ondragover="(e) => HandleMove(e, Model.Name, Model.Parent.Children.IndexOf(Model) + 1)"
       @ondragover:stopPropagation="true"
       style="height:.4em;"></div>
</li>

@code {

}
